Week_05/src/day01/homework3/spring-xml-customDefine/src/main/resources/META-INF/model.xsd

<?xml version="1.0"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://xsj.example.com/schema"
        targetNamespace="http://xsj.example.com/schema">

    <xsd:complexType name="studentType">
        <xsd:attribute name="id" type="xsd:int">
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="student" type="studentType">
    </xsd:element>


</xsd:schema>