Week_05/src/day01/homework3/spring-xml-customDefine/src/main/resources/META-INF/model.xsd

<?xml version="1.0"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns="http://demo1.example.com/schema1"
        targetNamespace="http://demo1.example.com/schema1">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:complexType name="studentType">
        <xsd:attribute name="id" type="xsd:int">
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="student" type="studentType">
    </xsd:element>

    <xsd:group name="studentList">
        <xsd:sequence>
            <xsd:element ref="student"/>
        </xsd:sequence>
    </xsd:group>

</xsd:schema>